<!--
  * @Copyright (C) 2018 All rights reserved.
  * @date: 2018
  * @file: lidar_simulator.launch
  * @version: v0.0.1
  * @author: aliben.develop@gmail.com
  * @create_date: 2018-11-05 10:33:04
  * @last_modified_date: NO_LAST_MODIFIED_DATE
  * @brief: TODO
  * @details: TODO
  *-->

<launch>
  <node pkg="mobile_robot_simulator" type="lidar_sim_node" name="lidar_simulator" output="screen">
    <param name="min_dist" type="double" value="0." />
    <param name="max_dist" type="double" value="50." />
    <param name="min_angle" type="double" value="-90.0" />
    <param name="max_angle" type="double" value="90.0" />
    <param name="num_of_line" type="int" value="360" />
    <param name="freq" type="double" value="15" />
    <param name="global_frame" type="str" value="world" />
    <param name="lidar_frame" type="str" value="scan" />
  </node>

  <node pkg="map_server" type="map_server" name="world_server" args="$(find mobile_robot_simulator)/map/environment.yaml" >
    <remap from="map" to="/world" />
  </node>
  <node pkg="map_server" type="map_server" name="map_server" args="$(find mobile_robot_simulator)/map/environment.yaml" />
  <node pkg="tf" type="static_transform_publisher" name="scan_to_world" args="0 0 0 0 0 0 /world /scan 40"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_world" args="0 0 0 0 0 0 /map /world 40"/>

</launch>
